.heading
{
	text-align: center;
	color: red;
	background-color: #ffff80;
}
.form-heading
{
	width: 250px;
	padding-left: 10px;
}
td
{
	background-color: #66ccff;
}
.form-input
{
	width: 300px;
}
span
{
	color: red;
}