.head
{
	background-color: #ff6600;
	height: 40px;

}
td
{
	background-color: #00004d;
	color: #ffb31a;
}
input[type=submit]
{
	background-color: #66ff66;
}
.footer
{
	background-color: #ff6600;
	height: 40px;
}
input[type=reset]
{
	background-color: #ff0000;
}
table
{
	height: 500px;
	width: 400px;
}
span
{
	color: red;
}