th
{
	background-color: #99ff99;
}
.col1
{
	background-color: #3399ff;
	width: 130px;
}
.col2
{
	width: 200px;
}
.col3
{
	background-color: #ff9999;
	width: 110px;
}
.col4
{
	background-color: #ffff99;
	width: 160px;
}