body
{        
    padding-top: 100px;
    padding-bottom: 40px;
}
th
{
    height: 50px;
}
td
{
    height: 40px;
}
.fixed-header, .fixed-footer
{
    width: 100%;
    position: fixed;        
    background: #4d79ff;
    padding: 10px 0;
    color: #fff;
}
.fixed-header
{
    top: 0;
}
.fixed-footer
{
    bottom: 0;
}
.container
{
    width: 80%;
    margin: 0 auto;
}
nav a
{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
.title
{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;   
}
.btn
{
    border: 2px solid black;
    background: #00ff00;
    color: #ffffff;
    font: bolder;
    font-size: larger;
}
th
{
    background: #f2f2f2;
}
table
{
    width: 100%;
}
span
{
    color: red;
}
.pagination
{   
    display: inline-block;
    float: right;   
}   
.pagination a 
{   
    font-weight:bold;   
    font-size:18px;   
    color: black;   
    float: left;   
    padding: 8px 16px;   
    text-decoration: none;   
    border:1px solid black;   
}   
.pagination a.active 
{   
        background-color: #00ff00;   
}   
.pagination a:hover:not(.active) 
{   
    background-color: skyblue;   
}   